<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        Trench Scribe v0.2.4 \
        <a href="/">Home</a> \
        <a href="/about">About</a>
    </nav>
    <br>
    <div class="aboutText">
        <p>Built as a companion to Trench Compendium, this program allows you to take a downloaded JSON file for your warband and print it out, for easy reference during paper games. We really wanted this functionality, so here it is for anyone to use. Please let us know if there are any bugs, issues, or new features that you would want on this. It is not super user-friendly at this point, but hopefully it is easy enough to get running. Trench Scribe was created by Mélanie and Alex Jones.</p>
    </div>
</body>
</html>
