<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trench Scribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        Trench Scribe v0.2.5 \
        <a href="/">Home</a> \
        <a href="/about">About</a> \
        <a href="/support">Support</a>
    </nav>
    <br>
    <form class="dataInput" method="POST" enctype="multipart/form-data" action="/">
        <label for="file_input">Choose File</label>
        <input type="file" id="file_input" name="file_input" required>
        <br><br>
        <input type="checkbox" name="checkbox1" value="ignore_tough">Ignore Tough / Strong / Fear / Infiltrator<br>
        <input type="checkbox" name="checkbox2" value="rounded_corners">Rounded Corners<br>
        <input type="checkbox" name="checkbox3" value="page_splitting">New Page For Each Model<br><br>
        Title Color: <input type="color" value="#008000" name="colorPicker">
        <br><br>
        <button type="submit">Generate</button>
    </form>
</body>
</html>
