<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trench Scribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <h1>Trench Scribe v0.2.2</h1>
    
    <form method="POST" enctype="multipart/form-data" action="/">
        <label for="file_input">Choose File</label>
        <input type="file" id="file_input" name="file_input" required>
        <p></p>
        <input type="checkbox" name="checkbox1" value="ignore_tough">Ignore Tough/Strong/Fear/Infiltrator<br>
        <input type="checkbox" name="checkbox2" value="rounded_corners">Rounded Corners<br>
        <input type="checkbox" name="checkbox3" value="page_splitting">New Page For Each Model<br>
        Color: <input type="color" value="#008000" name="colorPicker">
        <p></p>
        <button type="submit">Generate</button>
    </form>
    <p></p>
    <a href="/about">About</a>
</body>
</html>
