<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trench Scribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div style="font-size: 4rem; font-family: canterburyFont">Trench Scribe</div>
    </nav>
    <br>
    <div class="content">
        <h2>Supporters</h2>
        Trench Scribe doesn't currently have any supporters. <i>You</i> could be the first!
        <br><br>
        (Please note that donators are updated manually and so it may take up to a few days for your name to be put on the website. We thank you for your understanding.)
        <h2>Support Trench Scribe</h2>
        <!-- Donate to help cover server costs, or buy us some coffee! (and have your name put on this website if you donate $5 or more)
        <br><br>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="QXN2MKXYW7EXW" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Donate to help cover server costs, or buy us some coffee." />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <br> -->
        <a href="/">Return to the home page.</a><br><br>
        <button id="theme-toggle">Switch Theme</button>
        <nav>
            <div class="version">v0.3.3</div>
        </nav>
    </div>

    <script src="../static/scripts/script.js"></script>
</body>
</html>
