nav {
    font-family: 'Consolas';
    font-size: xx-large;
    background-color: #2c2036;
    width: 100%;
}

.navbar {
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

.aboutText, .dataInput {
    background-color: #2c2036;
    font-size: x-large;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    width: 50%;
    left: 25%;
    top: 25%;
}

body {
    font-family: 'Consolas';
    background-color: #3c3046;
    color: #bebebe;
}

h1 {
    color: #4b9aee;
}

a {
    color: #4b9aee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: 'Consolas';
    border-radius: 25px;
    background-color: #4b9aee;
}

button:hover {
    background-color:#2b7ace;
}