:root {
    --background-color: #be90d6;
    --content-background: #ae80c6;
    --text-color: #404040;
}

body.dark-mode {
    --background-color: #3c3046;
    --content-background: #2c2036;
    --text-color: #bebebe;
}

@font-face {
    font-family: "canterburyFont";
    src: url("../Canterbury.ttf");
}

nav {
    font-family: "Courier";
    background-color: var(--content-background);
    width: 100%;
}

.navbar {
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

.version {
    font-family: "Courier";
    font-size: 1rem;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.content {
    background-color: var(--content-background);
    font-size: x-large;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    width: 50%;
    left: 25%;
    top: 15%;
}

h2 {
    font-family: "canterburyFont";
}

body {
    font-family: 'Courier';
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: #4b9aee;
}

a {
    color: #2b7ace;
    text-decoration: none;
}

a.dark-mode {
    color: #4b9aee;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: 'Courier';
    border-radius: 25px;
    background-color: #4b9aee;
    padding: 5px 10px;
    font-size: large;
}

button:hover {
    background-color:#2b7ace;
}